{% macro nav_tabs(curr) %}

<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
      <a class="nav-link {% if curr == 1 %} active{% endif %}" aria-current="page" href="/home">Index</a>
    </li>
    <li class="nav-item">
      <a class="nav-link  {% if curr == 2 %} active{% endif %}" href="/settings">Settings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if curr == 3 %} active{% endif %}" href="/record">Record</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if curr == 4 %} active{% endif %}" href="/statistics">Statistics</a>
    </li>
  </ul>
{% endmacro %}