.container{
    width: 900px;
}
.main_title{
    font-weight: bolder;
}
.subtitle{
    color:rgb(75, 209, 246);
}

h4{
    color:rgb(75, 209, 246);
    font-size: 28px;
}
h3{
    color:rgb(16, 191, 239);
    margin-top: 80px;
    font-size: 28px;
    border-bottom: solid 1px gray;
}
.feature_title{
    color:rgb(16, 191, 239);
    margin-top: 80px;
    font-size: 28px;
}

.intro{
    color: darkslategrey;
    /* text-indent: 2em; */
}






.git{
    font-size: 24px;
    line-height: 14px;
}