{% extends "base.html" %}
{% block head %}
    <title>Login</title>
{% endblock %}
{% block body %}
  <div class="container pt-2">
    {% if err_msg  %}
    <div class="alert alert-danger text-center">
      {{err_msg}}
    </div>
    {% endif %}
    {% if success_msg  %}
    <div class="alert alert-success text-center">
      {{success_msg}}
    </div>
    {% endif %}

    <form action="/login" method="post">

      <div class="login-box">
        <div class="row mb-2">
          <div class="col-4">Username:</div>
          <div class="col-8">
            <input type="text" class="form-control" name="username" required="true">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-4">Password:</div>
          <div class="col-8">
            <input type="password" class="form-control" name="password" required="true">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-4">
            <button class="btn btn-primary" id="login">Login</button>
          </div>
          <div class="col-8">
            <a href="/register" class="btn btn-secondary">Register</a>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}